{% extends 'comp/base.html' %}
{% load static %}

{% block title %}
    <title>Сброс по e-mail</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock %}

{% block content %}
<main>
     {% if form.errors %}
            <div class="alert alert-danger" role="alert" style="margin-top: 50px;">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: -70px;">
                    X
                </button>
            </div>
    {% endif %}

<form method="post" action="{% url 'password_reset' %}">

    {% csrf_token %}

<div style="margin-top: 200px; margin-left: 600px; width: 300px;">
    {{ form.email }}
</div>

<button class="btn btn-dark" type="submit" style="margin-top: 30px; margin-left: 650px; width: 200px">
    Сбросить по e-mail
</button>

</form>
</main>

{% endblock %}